<a href="https://colab.research.google.com/github/hide-squid/first-project/blob/main/%EC%A0%95%EB%B3%B4%EC%A7%84%EB%8F%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**2023년 10월 26일**

**3-2 변수와 자료형**

In [ ]:
#type() 자료형이 궁금할때
num = 10
type(10)

int

In [ ]:
num2 = 3.14
str(num2)

'3.14'

In [ ]:
str1 = 'my'
str2 = 'your'

temp = str1
str1 = str2
str2 = temp

print(str1)
print(str2)

your
my

In [ ]:
num1 = 100
num2 = 200
num1,num2 = num2,num1
print('num1 = ', num1)
print('num2 = ', num2)

num1 =  200
num2 =  100

In [ ]:
sum = 0
num1 = 100
num2 = 300
num1 += 100
sum = num1 + num2
print('num1 = ', num1)
print('num2 = ', num2)
print('sum = ',sum)

num1 =  200
num2 =  300
sum =  500

In [ ]:
hi = "Hello World"
print(hi)

Hello World

In [ ]:
name = "홍길동"
print('My name is', name)

My name is 홍길동

In [ ]:
height, weight, age = 173.3, 65.5, 17
print(height, weight, age)

173.3 65.5 17

In [ ]:
type(hi)

str

In [ ]:
type(name)

str

In [ ]:
type(height)

float

In [ ]:
type(age)

int

In [ ]:
pi = 3.14
area = 5*5*pi
print(area)
type(area)

78.5

float

In [ ]:
thisYear = 2023
myBirthYear = "2007"
age = thisYear - int(myBirthYear)
print(age)

16

**2023년 10월 31**

3-3. 연산자

In [ ]:
#산술연산자
x, y = 17, 4
print('x + y = ', x+y)
print('x - y = ', x-y)
print('x * y = ', x*y)
print('x / y = ', x/y)
print('x // y = ', x//y)
print('x % y = ', x%y)

x + y =  21
x - y =  13
x * y =  68
x / y =  4.25
x // y =  4
x % y =  1

In [ ]:
#비교연산자
x, y = 10, 14
print(x > y)
print(x != y)

False
True

In [ ]:
x, y = True, False
print(x and y)
print(x or y)
print(not x)

False
True
False

In [ ]:
#로그인 알고리즘
a = "python"
b = "1234"
ans1 = input('ID: ')
ans2 = input('PW: ')
# print(id == ans1)
# print(pw == ans2)
# print(id == ans1 and pw == ans2)

# if id == ans1 and pw == ans2:
#     print("로그인 가능.")
# else:
#     print('로그인 불가능')
#     if id != ans1:
#         print("아이디가 잘못되었습니다.")
#     if pw != ans2:
#         print("비밀번호가 잘못되었습니다.")


# if(a == ans1):
#     if(b == ans2):
#         print("로그인 되었습니다.")
#     else:
#         print("비밀번호가 잘못되었습니다.")
# else:
#     print("아이디가 잘못되었습니다.")

ID: python
PW: 1234
로그인 가능.

In [ ]:
#대입연산자
x=10
# x = x+10/2
x += 10/2
print(x)

15.0

In [ ]:
x = 10
x

False

2023년 11월 02일

In [ ]:
money = int(input("total moeny: "))
m50000 = money // 50000
money = money % 50000
m10000 = money // 10000
money = money % 10000
m5000 = money // 5000
money = money % 5000
m1000 = money // 1000
money = money % 1000

print('5만원: %d장, 1만원: %d장, 5천원: %d장, 1천원: %d장' %(m50000, m10000, m5000, m1000))
print(money)

total: 789000
5만원: 15장, 1만원: 3장, 5천원: 1장, 1천원: 4장
0

In [ ]:
print('안녕하세여? 이름을 입력해 주세요. ')
name = input()
print(name, '님 안녕하세요?')
age = input('나이를 입력해 주세요.')
print(20-int(age), '년 후면 20살이시네요.')

안녕하세여? 이름을 입력해 주세요.
정동민
정동민 님 바보아니세요?
나이를 입력해 주세요.10
10 년 후면 20살이시네요.

In [ ]:
#예매안내출력
fee = 11000
print('안녕하세요? 티켓금액은', fee, '입니다.')
num = int(input('영화를 관람하실 인원을 입력해 주세요: '))
total = num * fee
print('예매하실 인원은', num, '총 금액은', total, '입니다.')

안녕하세요? 티켓금액은 11000 입니다.
영화를 관람하실 인원을 입력해 주세요: 10
예매하실 인원은 10 총 금액은 110000 입니다.

In [ ]:
f1= open("movie.txt", "w")
title = input("영화 제목을 입력해주세요:")
fee = input("티켓 비용을 입력해주세요: ")
f1.write(title+"\n")
f1.write(fee)
f1.close()

KeyboardInterrupt: ignored

In [ ]:
f1= open("movie.txt", "r")
title = f1.readline()
fee = f1.readline()
print("영화제목: ", title, end = '\n')
print("티켓요금: ", fee)
f1.close()

영화제목:  탑건

티켓요금:  11000

**2023년 11월 7일**

In [ ]:
f1= open("movie.txt", "r")
title = f1.readline()
fee = f1.readline()
print("영화제목: ", title, end = '\n')
print("티켓요금: ", fee)
f1.close()

print("안녕하세요?관람가능하신 영화와 요금은 다음과 같습니다.")
print("영화제목", title)
print("티켓요금", fee)
name = input("예약하실 분의 이름을 입력해 주세요: ")
date = input("예약을 원하시는 날짜와 시간을 입력해 주세요: ")
num = input("영화를 관람하실 인원을 입력해 주세요: ")
total = int(fee) * int(num)

f2=open("reserve.txt",'a')
print("지불하실 금액은", total, "원입니다")
f2.write("예약하신 분: "+name+"\n")
f2.write("예약 일시: "+date+"\n")
f2.write("예약 인원: "+num+"\n")
f2.write("지불 금액: "+str(total)+"\n")
f2.close()

영화제목:  탑건

티켓요금:  11000
안녕하세요?관람가능하신 영화와 요금은 다음과 같습니다.
영화제목 탑건

티켓요금 11000
예약하실 분의 이름을 입력해 주세요: 1
예약을 원하시는 날짜와 시간을 입력해 주세요: 1
영화를 관람하실 인원을 입력해 주세요: 1
지불하실 금액은 11000 원입니다

3-5. 제어 구조의 활용

In [ ]:
n = int(input("숫자: "))
sum = 0
for i in range(1, n+1):
    sum = sum + i
print("1부터 %d까지의 합은 %d입니다."%(n, sum))

숫자: 10
1부터 10까지의 합은 55입니다.

In [ ]:
#1부터 10까지 홀수 출력
i = 1
while True:
    print(i, end = "")
    i += 2
    if i>10:
        break

13579

In [ ]:
#1부터 n까지 홀수 출력
n = int(input("숫자: "))
i = 1
sum=0
while True:
    print(i, end = " ")
    sum += i
    i += 2
    if i>n:
        break
print("\n")
print(sum)

숫자: 10
1 3 5 7 9

25

In [ ]:
#1부터 n까지 짝수 출력
n = int(input("숫자: "))
i = 1
sum=0
while True:
    print(i + 1 , end = " ")
    sum += i + 1
    i += 2
    if i>n:
        break
print("\n")
print(sum)

숫자: 10
2 4 6 8 10

30

In [ ]:
choice = int(input("메뉴를 입력하세요(1.홀 2.짝): "))
n = int(input("숫자: "))
i = 1
sum=0
if choice == 2:
    while True:
        print(i + 1 , end = " ")
        sum += i + 1
        i += 2
        if i>n:
            break
    print("\n")
    print(sum)
elif choice == 1:
    while True:
        print(i, end = " ")
        sum += i
        i += 2
        if i>n:
            break
    print("\n")
    print(sum)

메뉴를 입력하세요(1.홀 2.짝): 1
숫자: 10
1 3 5 7 9

25

2023 11 21

In [ ]:
#홀수짝수판별
num = int(input('숫자 입력: '))
if num%2 == 0:
    print("짝수")
else:
    print("홀수")

숫자 입력: 2
짝수

In [ ]:
#양수음수판별
num = int(input('숫자 입력: '))
if num>0:
    print("양수")
elif num<0:
    print("음수")
else:
    print(zero)

숫자 입력: 0
0

In [ ]:
#나이판별
age = int(input('나이 입력: '))
if age>=20:
    print("성인")
elif age>=13 and age<20:
    print("청소년")
else:
    print("어린이")

숫자 입력: 20
성인

In [ ]:
#년도 나이 판별
year = int(input('년도 입력: '))
this_Y = 2023 - year
print(this_Y)
if this_Y>=20:
    print("성인")
elif this_Y>=13 and this_Y<20:
    print("청소년")
else:
    print("어린이")

년도 입력: 2007
16
청소년

In [ ]:
dan = int(input("몇 단: "))
for a in range (1, 10):
    cal = dan*a
    print("%d * %d = %d" %(dan, a, cal))

몇 단: 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
for a in range (1, 10):
    for dan in range(2, 10):
        print("%d * %d = %d" %(dan, a, dan * a), end = '\t')
    print()

2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9
2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

In [ ]:
#삼각형만들기
for i in range(1, 5):
    for j in range(1, i+1):
        print("*", end='')
    print()

*
**
***
****

In [ ]:
#거꾸로삼각형만들기
for i in range(4, 0, -1):
    for j in range(1, i+1):
        print("*", end='')
    print()

****
***
**
*

In [ ]:
dan = int(input("몇 단: "))
for i in range(dan, 0, -1):
    for j in range(1, i+1):
        print("*", end='')
    print()

몇 단: 2
****
***
**
*

In [ ]:
dan = int(input("몇 단: "))
for i in range(1, dan):
    for j in range(1, i+1):
        print("*", end='')
    print()

몇 단: 10
*
**
***
****
*****
******
*******
********
*********

In [ ]:
print('물건 개수 구하기')
cnt = 0
sum = 0
for i in range(1, 11):
    for j in range(1, 11):
        sum = i*500 + j*1000
        if sum == 10000:
            cnt += 1
            print('500운 %d개, 1000원 %d개' %(i, j))
print('경우의 수는 %d가지 입니다.' %cnt)

물건 개수 구하기
500운 2개, 1000원 9개
500운 4개, 1000원 8개
500운 6개, 1000원 7개
500운 8개, 1000원 6개
500운 10개, 1000원 5개
경우의 수는 5가지 입니다.

2023 11 23

In [ ]:
N=int(input())
B=2
S=N+1
if N<=40 and N>=1:
    for one in range(1,N*2+2):
        print("*",end="")
    print()
    for b in range(1,N+1):
        for a in range(1,S):
            print("*",end="")
        for c in range(1,B):
            print(" ",end="")
        for a in range(1,S):
            print("*",end="")
        print("")
        S-=1
        B+=2
    S+=1
    B-=2
    for b in range(1,N):
        S+=1
        B-=2
        for a in range(1,S):
            print("*",end="")
        for c in range(1,B):
            print(" ",end="")
        for a in range(1,S):
            print("*",end="")
        print("")
    for one in range(1,2*N+2):
        print("*",end="")
else:
  print("I can't make a diamond!")

5
***********
***** *****
****   ****
***     ***
**       **
*         *
**       **
***     ***
****   ****
***** *****
***********

In [ ]:
a= int(input())
b= int(input())
c= int(input())
list_ = []
list_.append(int("(%d, %d, %d)" %(a,b,c)))
print(list_2)

147
258
369

ValueError: ignored

In [ ]:
import random
r_number = random.randint(1, 100)
cnt = 1
print("숫자를 맞춰봐! 기회는 6번")
while True:
    try:
        my_number = int(input('숫자입력:'))
        if my_number>r_number:
            print('down')
        elif my_number<r_number:
            print('up')
        elif my_number == r_number:
            print(f"정답!, {cnt}회 만에 맞췄습니다.")
            break
        cnt += 1
    except:
        print('입력오류, 숫자를 입력하세요!')

숫자를 맞춰봐! 기회는 6번
숫자입력:50
down
숫자입력:40
down
숫자입력:30
down
숫자입력:20
down
숫자입력:10
down
숫자입력:7
정답!, 6회 만에 맞췄습니다.

In [ ]:
import random
r_number = random.randint(1, 100)
cnt = 1
print("숫자를 맞춰봐! 기회는 6번")
for i in range(1, 7):
    guess = int(input('숫자입력:'))
    if guess>r_number:
        print('down')
    elif guess<r_number:
        print('up')
    else :
        print("정답!, %d회 만에 맞췄습니다." %i)
        break
if guess != r_number:
    print("실패! 정답은 %d입니다" %r_number)

숫자를 맞춰봐! 기회는 6번
숫자입력:50
up
숫자입력:70
up
숫자입력:80
down
숫자입력:73
up
숫자입력:76
up
숫자입력:78
up
실패! 정답은 79입니다

In [ ]:
import random
point = 0
for a in range(1, 6):
    r_number = random.randint(1, 100)
    cnt = 1
    print("[%d번째 게임]" %a)
    print("숫자를 맞춰봐! 기회는 6번")
    for i in range(1, 7):
        guess = int(input('숫자입력:'))
        if guess>r_number:
            print('down')
        elif guess<r_number:
            print('up')
        else :
            print("정답!, %d회 만에 맞췄습니다." %i)
            if i<=2:
                point += 100
            elif i<=4:
                point += 75
            else:
                point += 50
            break
    if guess != r_number:
        print("실패! 정답은 %d입니다" %r_number)
if point >= 300:
    print("성공! 포인트는 %d입니다" %point)
else:
    print("실패! 포인트는 %d입니다" %point)

숫자를 맞춰봐! 기회는 6번
숫자입력:50
down
숫자입력:30
up
숫자입력:40
up
숫자입력:47
up
숫자입력:48
up
숫자입력:49
정답!, 6회 만에 맞췄습니다.
숫자를 맞춰봐! 기회는 6번
숫자입력:50
down
숫자입력:30
down
숫자입력:10
up
숫자입력:20
down
숫자입력:17
정답!, 5회 만에 맞췄습니다.
숫자를 맞춰봐! 기회는 6번
숫자입력:50
up
숫자입력:78
down
숫자입력:64
down
숫자입력:58
up
숫자입력:62
down
숫자입력:61
down
실패! 정답은 59입니다
숫자를 맞춰봐! 기회는 6번
숫자입력:14
down
숫자입력:26
down
숫자입력:6
up
숫자입력:10
up
숫자입력:13
down
숫자입력:12
down
실패! 정답은 11입니다
숫자를 맞춰봐! 기회는 6번

KeyboardInterrupt: ignored

**3-6. 배열의 활용**

In [ ]:
planet = ["수성", "금성", "지구", "화성", "목성", "토성", "천왕성", "해왕성"]
print(planet[0])
print(planet[1])
print(planet[2])
print(planet[3])
print(planet[4])
print(planet[5])
print(planet[6])
print(planet[7])

수성
금성
지구
화성
목성
토성
천왕성
해왕성

In [ ]:
planet = [None] * 8
planet[0] = "수성"
planet[1] = "금성"
planet[2] = "지구"
planet[3] = "화성"
planet[4] = "목성"
planet[5] = "토성"
planet[6] = "천왕성"
planet[7] = "해왕성"
print(planet)

['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

In [ ]:
planet = ["수성", "금성", "지구", "화성", "목성", "토성", "천왕성", "해왕성"]
print(planet[4])

목성

In [ ]:
planetScale = [2440, 6052, 6378, 3390, 69911, 58232, 25362, 24622]
maxScale = planetScale[0]
for i in range(1, 8):
    if maxScale < planetScale[i]:
        maxScale = planetScale[i]
print(maxScale)

58232

In [ ]:
planet = [['수성', 2440, 0.055], ['금성', 6052, 0.815], ['지구', 6378, 1.0], ['금성', 3390, 0.107]]
for i in range(4):
    for j in range(3):
        print(planet[i][j], end = ' ')
    print()

수성 2440 0.055
금성 6052 0.815
지구 6378 1.0
금성 3390 0.107

In [ ]:
name = input('행성이름:')
for n in range(4):
    if name == planet[n][0]:
        k=n
        break
print('이름:', planet[k][0])
print('크기:', planet[k][1])
print('질량:', planet[k][2])

행성이름:금성
이름: 금성
크기: 6052
질량: 0.815

In [ ]:
name = input('행성이름:')
for n in range(4):
    if name == planet[n][0]:
        print('이름:', planet[k][0])
        print('크기:', planet[k][1])
        print('질량:', planet[k][2])
    if n == 3:
        print('검색하신 행성은 없습니다.')

행성이름:명왕성
검색하신 행성은 없습니다.

In [ ]:
a = [n for n in range(1, 10) if n%2 ==1 ]
print(a)

[1, 3, 5, 7, 9]

In [ ]:
b = [n*2 for n in a]
print(b)

[2, 6, 10, 14, 18]

In [ ]:
c = [n for n in 'python']
print(c)

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
c.index('h')

3

In [ ]:
c.append('t')
print(c)

In [ ]:
c.reverse()
print(c)

['t', 'n', 'o', 'h', 't', 'y', 'p']

In [ ]:
c.count('t')

2

In [ ]:
c.sort()

In [ ]:
gugu = [7*k for k in range(1, 10)]
print(gugu)

[7, 14, 21, 28, 35, 42, 49, 56, 63]

In [ ]:
gugu = []
for k in range(1, 10):
    gugu.append(7*k)
print(gugu)

[7, 14, 21, 28, 35, 42, 49, 56, 63]

In [ ]:
div = [k for k in range(1, 129) if 128 % k==0]
print(div)

[1, 2, 4, 8, 16, 32, 64, 128]

In [ ]:
div = []
for k in range(1, 129):
    if 128%k==0:
        div.append(k)
print(div)

[1, 2, 4, 8, 16, 32, 64, 128]