<a href="https://colab.research.google.com/github/hide-squid/first-project/blob/main/%EC%A0%9C%EC%B6%9C(4_19)%EC%B5%9C%EC%A2%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. 프로그래밍에 대한 기본적인 이해**
   - 사용자로부터 입력받는 함수 : **input()**
   - 출력하는 함수 : **print()**
   - **변수** : 데이터 처리를 위해 활용하는 기억 장소
   - **디버깅** : 프로그램 작성과정에서 오류를 찾는 과정

In [ ]:
print("2학년 2반 화이팅")

2학년 2반 화이팅

**미션3.**print(a+b+c)를 할때에 **2학년 2반 화이팅**이라는 문구를 띄우려면 어떻게 해야할까..?(다음 수업시간까지..)

In [ ]:
a = "2학년 2반 화이팅"
print(a)

a = "2학년"
b = "2반"
c = "화이팅"
print(a, b, c)
print(a + b + c)
print(a +" "+ b +" "+ c)

2학년 2반 화이팅
2학년 2반 화이팅
2학년2반화이팅
2학년 2반 화이팅

In [ ]:
import time
import matplotlib.pyplot as plt
from math import pi
from math import sqrt as s

print(f'가나다라마바사아자차카타파하')
print(f'a b c d e f g h i j k l m n o p q r s t u v w x y z')
print(f'A B C D E F G H I J K L M N O P Q R S T U V W X Y N Z')
print(f'0 1 2 3 4 5 6 7 8 9')
print(f'1 l L I :')
print(f'0 o O ㅇ')
print(f'{{ }}')

가나다라마바사아자차카타파하
a b c d e f g h i j k l m n o p q r s t u v w x y z
A B C D E F G H I J K L M N O P Q R S T U V W X Y N Z
0 1 2 3 4 5 6 7 8 9
1 l L I :
0 o O ㅇ
{ }

**2024.03.15** 금욜 프로그래밍 진도

In [ ]:
a, b, c = 10, 20, 30
print(c)

30

- 문자열 + 문자열 -> 문자열과 문자열을 합치기
- 문자열 + 숫자형 -> 실행 오류
- 문자열 * 숫자형 -> 숫자형 만큼 문자열을 반복하여 처리

In [ ]:
print("환영해"*10)
print("환영해"+10)

환영해환영해환영해환영해환영해환영해환영해환영해환영해환영해

TypeError: can only concatenate str (not "int") to str

In [ ]:
print("환영해"+10)

TypeError: can only concatenate str (not "int") to str

In [ ]:
print("환영해"-10)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [ ]:
print("환영해"*10)

환영해환영해환영해환영해환영해환영해환영해환영해환영해환영해

In [ ]:
print("환영해"/10)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
print("환영해"**10)

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [ ]:
print("환영해"//10)

TypeError: unsupported operand type(s) for //: 'str' and 'int'

In [ ]:
print("환영해"%10)
a=시:분:초

TypeError: not all arguments converted during string formatting

**입출력 함수 정리하기 - 출력**

In [ ]:
r = 3
pi = 3.14
circle = r*r*pi
print("원의 넓이는 %.2f 이다" %circle)
print("원의넓이는\n바로 %.2f 이다" %circle)

원의 넓이는 28.26 이다
원의넓이는
바로 28.26 이다

In [ ]:
print("원의\n넓이는\n바로 %.2f 이다" %circle)

원의
넓이는
바로 28.26 이다

 - **\n** : 줄바꿈할때 활용하는 것
 - **\t** : tab 할때 활용하는 것

In [ ]:
a = input() #20을 출력
b = input() #10을 출력
plus = a+b
print(plus)
type(plus)

10
20
10
20
1020

 - **input()** : 사용자로부터 입력받을 때 문자형태로 처리되어진다.

In [ ]:
a = int(input()) #20을 출력
b = float(input()) #10을 출력
minus1 = a-b
minus2 = int(a-b)
print(minus1)
print(minus2)

10
0.4
9.6
9

In [ ]:
a = input('이름을 입력하시오: ')
if a == '박유진':
    print("%s 선생님, 안녕하세요?\n2학년 2반에 오신 것을 환영합니다." %a)
else:
    print("%s님, 안녕하세요?\n2학년 2반에 오신 것을 환영합니다." %a)

이름을 입력하시오: 박유진
박유진 선생님, 안녕하세요?
2학년 2반에 오신 것을 환영합니다.

In [ ]:
sum = 0
while True:
    a = input("정수 입력(Y), 끝내기(N): ")
    if a == 'Y':
        c = int(input("정수 입력: "))
        sum += c
        print("총 합: %d" %sum)
    elif a == 'N':
        print("총 합: %d" %sum)
        break
    else:
      print("에러")

정수 입력(Y), 끝내기(N): n
에러
정수 입력(Y), 끝내기(N): N
총 합: 0

<for 반복문>
1. for 변수 in range(숫자)
    - 변수값이 0~(숫자-1)까지 +1만큼 증가하여 반복됨(숫자만큼 반복이 이루어짐)
2. for 변수 in range(숫자1, 숫자2)
    - 변수값이 숫자1~(숫자2-1)까지 +1만큼 증가하여 반복됨
3. for 변수 in range(숫자1, 숫자2, 숫자3)
    - 변수값이 숫자1~(숫자2-1)까지 숫자3만큼 증가하여 반복됨

In [ ]:


limit = int(input("숫자를 입력하세여: ")) #2부터 limit 까지
print("출력결과는: ")
for num in range(2, limit + 1): #limit에 5를 넣었을때, 2부터 5까지의 수 중 소수 판별
    is_p = True #is_p의 역학은 소수인지 아닌지 구분해주기 위한 역학
    for i in range(2, int(num**0.5) + 1): #오떤 정수이 제곱근 이하의 모든 자연수로 나눠주는 상황
        if num % i == 0:
            is_p = False #즉, 소수가 아닌 경우에는 is_p 변수값을 false 바꿔준다.
            break #break가 들어있는 부모 반복문을 빠져나오는 기능(여기에서는 8번줄 for)
    print(num)
    if is_p: # is_p 변수 값이 True일때 소수 출력이 이루어짐
        print("%d@" %num, end = "")

숫자를 입력하세여: 5
출력결과는:
2
2@3
3@4
5
5@

In [ ]:
print(int(5**0.5))
for i in range(2, 6):
    print(i)

2
2
3
4
5

while문 파악하기

In [ ]:
i=1 #변수 i에 1저장
while i<=10: #반복문 while을 1부터 10까지 반복
    print(i) # i출력
    i=i+1 #변수 i 값에 1를 더함(반복문이 끝날때 까지)

1
2
3
4
5
6
7
8
9
10

while 뒤에 조건:
뒤에 조건을 적을수 있다.

In [ ]:
i=1 #변수 i에 1저장
while i<=10: #반복문 while을 1부터 10까지 반복
    print(i) # i출력
    i=i+2 #변수 i 값에 2를 더함(반복문이 끝날때 까지)

1
3
5
7
9

In [ ]:
i=1 #변수 i에 1저장
while True: #반복문 while을 무한반복
    print(i) #i출력
    i=i+2 #i, i+2, i+4, i+6, i+8
    if i>10: #i가 10보다 크면 11이 나오면
        break #무한 반복을 멈춘다

1
3
5
7
9

while True:
or
while 1:
은 무한반복으로 멈추고 싶다면 break를 써야한다.