<a href="https://colab.research.google.com/github/hide-squid/high-school-project-1/blob/main/%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98_%ED%83%90%EA%B5%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2023년 7월 23일

In [ ]:
print("hello world")

hello world

In [ ]:
10+10

20

In [ ]:
print("38*75-63=2787")
a=38
b=75
c=63
print("a * b - c = a*b-c")
print("%d * %d - %d = %d" %(a,b,c,a*b-c))
print("{0}*{1}-{2}={3}".format(a,b,c,a*b-c))

38*75-63=2787
a * b - c = a*b-c
38 * 75 - 63 = 2787
38*75-63=2787

In [ ]:
a=30
b=3.14
c=2+3.14j
d = "Hello"
e = 1,2,3,4,5
f=[1,2,3,4,5]

print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))
print(e, type(e))
print(f, type(f))

30 <class 'int'>
3.14 <class 'float'>
(2+3.14j) <class 'complex'>
Hello <class 'str'>
(1, 2, 3, 4, 5) <class 'tuple'>
[1, 2, 3, 4, 5] <class 'list'>

In [ ]:
a, b =0, 0.1
for i in range(0,100):
  a+=b
print(a)

9.99999999999998

In [ ]:
print(ord('a'))
print(ord('b'))
print(ord('c'))

97
98
99

In [ ]:
s='Python'
s2 = 'I love'
print(s[1])
print(s2[2:6])
print(s*10)
print(s2+s)
print(s2+" "+s)

y
love
PythonPythonPythonPythonPythonPythonPythonPythonPythonPython
I lovePython
I love Python

In [ ]:
a=True
b=10<3
print(a)
print(b)

True
False

In [ ]:
print(a and b)
print(a or b)
print(a+b)

False
True
1

In [ ]:
a, b = 10, 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

13
7
30
3.3333333333333335
1
3
1000

In [ ]:
print(3==2, 3!=2)
print(3>2, 3<=2)
print(3>2 or 3==2)
print(3>2 and 3==2)
print(not 3==2)

False True
True False
True
False
True

In [ ]:
a *= 2
b += 3

In [ ]:
a=str(123)
b='456'
print(a+b)

123456

In [ ]:
print('동해물과 백두산이\n마르고 닳도록\n하느님이 보우하사\n우리 나라만세')

동해물과 백두산이
마르고 닳도록
하느님이 보우하사
우리 나라만세

In [ ]:
x=int(input('input number: '))
print(x)

input number: 7
7

In [ ]:
a=int(input('숫자1: '))
b=str(input('기호: '))
c=int(input('숫자2: '))
if(b == '-'):
  print("%d - %d = %d" %(a, c, a-c))
elif(b == '*'):
  print("%d * %d = %d" %(a, c, a*c))
elif(b == '+'):
  print("%d + %d = %d" %(a, c, a+c))
elif(b == '/'):
  print("%d / %d = %d" %(a, c, a/c))

숫자1: 7899
기호: *
숫자2: 2007
7899 * 2007 = 15853293

**2023년 7월 25일**

In [ ]:
#[문제1] 정사각형의 둘레와 넒이 계산
a = int(input("한변의 길이: "))
b = (a*a)
c = (4*a)
print("둘레는 %d이고 넓이는 %d이다" %(c, b))

3
둘레는 12이고 넓이는 9이다

In [ ]:
#[문제2] 삼각형의 넒이 계산
a = int(input("밑변의 길이: "))
b = int(input("높이의 길이: "))
c = (a*b/2)
print("넓이는 %d이다" %(c))

밑변의 길이: 3
높이의 길이: 4
넓이는 6이다

In [ ]:
#[문제3] 원의 둘레와 넒이 계산
a = int(input("반지름의 길이: "))
b = 2*a*3.14
c = (a*a)*3.14
print("둘레는 %.1f이고 넓이는 %.1f이다" %(b, c))

반지름의 길이: 1
둘레는 6.3이고 넓이는 3.1이다

In [ ]:
a=int(input("정수 입력: ")) #10
cnt = 0
for i in range(1, a+1): #123456789,10
  if a % i == 0:
      cnt += 1
if(cnt == 2):
  print("소수입니다")
else:
  print("합성수입니다")

정수 입력: 10
합성수입니다

In [ ]:
a=int(input("정수 입력: "))
cnt = 0
for i in range(1, a+1):
  if a % i == 0:
      cnt += 1
if(cnt == 2):
  print("소수입니다")
else:
  print("합성수입니다")

In [ ]:
a=int(input("정수 입력: "))
for i in range(a, 2, -1):
  cnt = 0
  for j in range(1, a+1):
    if i % j == 0:
      cnt += 1
  if cnt == 2:
    print("제일 큰 소수는 %d입니다" %i)
    break

정수 입력: 100
제일 큰 소수는 97입니다

2023년 7월 **26일**

In [ ]:
#성적 관리
a, b = input("중간: ").split( )
c, d = input("기말: ").split( )
e, f = input("수행: ").split( )
g = (float(a)) * int(b)
h= (float(c)) * int(d)
i= (float(e)) * int(f)
sum = float(g) + float(h) + float(i)
print(sum)

중간: 0.3 50
기말: 0.4 80
수행: 0.3 92
74.6

In [ ]:
#년도 판, m, d = input('년 월 일: ').split( )
sum =  int(y) + int(m) + int(d)
omg = int(sum)/100
if(int(sum / 100) % 2 == 0):
  print("대박")
else:
  print("그럭저럭")

년 월 일: 2007 10 4
대박

In [ ]:
year, month = input('연도와 월을 입력하시오> ').split()
year = int(year)
month = int(month)

if month == 1 or month == 3 or month == 5 or month == 7 or month == 8 or month == 10 or month == 12:
  print("31")
elif month == 4 or 6 or month == 9 or month == 11:
  print("30")
else:
  if year % 400 == 0:
    print("29")
  elif year % 4==0 and y % 100 != 0:
    print("29")
  else:
    print("28")

연도와 월을 입력하시오> 2000 2
30

In [ ]:
for i in range(2023, 2500):
  if i%100 == 0 or (i%4==0 and i%100 != 0):
    print(i)

2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096
2100
2104
2108
2112
2116
2120
2124
2128
2132
2136
2140
2144
2148
2152
2156
2160
2164
2168
2172
2176
2180
2184
2188
2192
2196
2200
2204
2208
2212
2216
2220
2224
2228
2232
2236
2240
2244
2248
2252
2256
2260
2264
2268
2272
2276
2280
2284
2288
2292
2296
2300
2304
2308
2312
2316
2320
2324
2328
2332
2336
2340
2344
2348
2352
2356
2360
2364
2368
2372
2376
2380
2384
2388
2392
2396
2400
2404
2408
2412
2416
2420
2424
2428
2432
2436
2440
2444
2448
2452
2456
2460
2464
2468
2472
2476
2480
2484
2488
2492
2496

In [ ]:
a, b = input().split( )
a = int(a)
b = int(b)
s = 0
for i in range(a, b+1):
  if i%2==0:
    if(i == a):
      s = s + int(i)
      print(i , end = "" )
    else:
      s = s - int(i)
      print("-%d" %i, end = "" )
  else:
    s = s + int(i)
    if(i == a):
      print('%d' %i, end = "" )
    else:
      print("+%d" %i, end = "")
print(" = %d" %s, end="")

0 10
0+1-2+3-4+5-6+7-8+9-10 = -5

In [ ]:
a, b, c = input("오름차순 입력 0(X) 3000이하 3개: ").split()
a = int(a)
b = int(b)
c = int(c)
for i in range(a , 0, -1):
  if (a % i == 0) and (b % i == 0) and (c % i == 0):
    print("백신은 %d번 입니다" %i)
    break

오름차순 입력 0(X) 3000이하 3개: 7 15 23
1

In [ ]:
n = int(input('점수의 갯수를 입력: '))
score = input('각각의 점수를 입력: ').split()
for i in range(n):
  score[i] = int(score[i])
score.sort()
score
print(score[0], score[-1])

점수의 갯수를 입력: 5
각각의 점수를 입력: 2 5 67 8 4
[2, 4, 5, 8, 67]

In [ ]:
a = input("20자 이내로 구성된 패스워드 입력: ")
list(a)
for i in a:
  print(chr(ord(i)+2), end = "")
print()

for i in range(len(a)):
  print(chr((ord(a[i])*7)%80+48), end = " ")

20자 이내로 구성된 패스워드 입력: TEST
VGUV
L3EL

In [ ]:
PW = input('암호입력: ')
for i in a:
  print(chr)

In [ ]:
caesar = input()
for i in caesar:
  if i == 'a':
    print("x", end = "")
  elif i == 'b':
    print("y", end = "")
  elif i == 'b':
    print("z", end = "")
  elif i == ' ':
    print("z", end = "")
  else:
    print(chr(ord(i)-3), end = "")

qwer
ntbo

In [ ]:
import random
a = random.randrange(0, 2)
b = random.randrange(0, 2)
c = random.randrange(0, 2)
d = random.randrange(0, 2)
a = int(a)
b = int(b)
c = int(c)
d = int(d)
yut = a+ b+ c+ d
print(a, b, c, d)
if yut == 0:
  print('모')
elif yut == 1:
  print('도')
elif yut == 2:
  print('개')
elif yut == 3:
  print('걸')
else:
  print('윷')

0 1 1 1
걸